
<div>
    <h1>Item Details</h1>
    <br/>
    <table class="table">
        <tbody>
            <tr>
                <td>Item ID</td>
                <td><%= @item.id %></td>
            </tr>
            <tr>
                <td>Item Name</td>
                <td><%= @item.name %></td>
            </tr>
            <tr>
                <td>Item Category</td>
                <td><%= @item.category %></td>
            </tr>
            <tr>
                <td>Item Description</td>
                <td><%= @item.description %></td>
            </tr>
            <tr>
                <td>Item Price</td>
                <td><%= @item.price %></td>
            </tr>
            <tr>
                <td>Item Calories</td>
                <td><%= @item.calories %></td>
            </tr>
            <tr>
                <td>Item Photo URL</td>
                <td><%= @item.photo_url %></td>
            </tr>
            <tr>
                <td>Item 86</td>
                <td><%= @item.eightysix %></td>
            </tr>
        </tbody>
    </table>
    <a href="<%= items_path %>" >Back to Menu Items</a>
</div>